{% extends 'base.html.twig' %}

{% block body %}

<h1>Liste des disques</h1>
<h2>Il y a {{ totalDisques }} disques </h2>
    <div class="container-xl">
        <div class="row">
            <div class="col-12 text-end m-3">
                <a href="/formulaire" class="btn btn-info">Ajouter un disque</a>
            </div>
        </div>

        <div class="row">
            {% for disc in discs %}

                <div class="col-12 col-sm-6 col-md-4 col-xxl-2">



                    <div class="card mb-3" style="">
                        <img src="{{ asset('pictures/'~ disc.picture ) }}" alt="{{ disc.title }}" style="" srcset="" class="card-img-top h-100"> 
                        <div class="card-body">
                            <h5 class="card-title">{{ disc.title}}</h5>
                            <p class="card-text text-truncate">
                                                        Name : {{disc.artist.name}}<br>
                                                        Label : {{disc.label}}<br>
                                                        Year : {{disc.year}} <br>
                                                        Genre : {{disc.genre}} <br>
                                                        Price : {{disc.price}}$ <br>
                            </p>
                            <a href="/details/{{ disc.id }}" class="btn btn-info">Détails</a>
                        </div>
                    </div>


                
                                    
                
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

