{% extends 'base.html.twig' %}


{% block body %}


<h1>Détails du disque</h1>
<div class="container-fluid col-md-6 border">
<img src="{{ asset('pictures/' ~ disc.picture) }}" alt="{{ disc.title }}" style="width: 250px;"><br><br>
<p><strong>Titre :</strong> {{ disc.title }}</p>
<p><strong>Artiste :</strong> {{ disc.artist.name }}</p>
<p><strong>Année :</strong> {{ disc.year }}</p>
<p><strong>Genre :</strong> {{ disc.genre }}</p>
<p><strong>Label :</strong> {{ disc.label }}</p>
<p><strong>Prix :</strong> {{ disc.price }} €</p>

</div>

<div>
<a href="{{ path('app_accueil') }}" class="btn btn-primary m-3">← Retour à la liste</a>
<a href="/modifier/{{ disc.id }}" class="btn btn-warning m-3">Modifier</a>
<form method="post" action="{{ path('app_supprimer', {id: disc.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce disque??');">
    <input type="hidden" name="_token" value="{{ csrf_token('supprimer' ~ disc.id) }}">
    <button class="btn btn-danger">Supprimer</button>

</form>
</div>
{% endblock %}
