{% extends 'base.html.twig' %}


{% block body %}


<h1>Détails du disque</h1>
<div class="container-fluid col-md-6 border">
<img src="{{ asset('pictures/' ~ disc.picture) }}" alt="{{ disc.title }}" style="width: 250px;"><br><br>
<p><strong>Titre :</strong> {{ disc.title }}</p>
<p><strong>Artiste :</strong> {{ disc.artist.name }}</p>
<p><strong>Année :</strong> {{ disc.year }}</p>
<p><strong>Genre :</strong> {{ disc.genre }}</p>
<p><strong>Label :</strong> {{ disc.label }}</p>
<p><strong>Prix :</strong> {{ disc.price }} €</p>

</div>
<a href="{{ path('app_accueil') }}" class="btn btn-primary m-3">← Retour à la liste</a>

{% endblock %}
